<div class="container">
    <div class="row">
      <div class="col-12" id="entradaValor">
          <input type="text" class="form-control" value={{resultado}}>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6 col-lg-8">
        <button (click)="limpar()" type="button" class="btn btn-primary btn-lg btn-block">AC</button>
      </div>
      <div class="col-3 col-lg-2">
        <button (click)= "montarResultado('/')" type="button" class="btn btn-secondary btn-lg btn-block">/</button>
      </div>
      <div class="col-3 col-lg-2">
          <button (click)= "montarResultado('*')" type="button" class="btn btn-secondary btn-lg btn-block">X</button>
      </div>
    </div>

    <div class="row">
      <div class="col-3 col-lg-4 ">
          <button (click)="montarResultado('7')" type="button" class="btn btn-secondary btn-lg btn-block">7</button>
      </div> 
      <div class="col-3 col-lg-4 ">
          <button (click)="montarResultado('8')" type="button" class="btn btn-secondary btn-lg btn-block">8</button>
      </div> 
      <div class="col-3 col-lg-2">
          <button (click)="montarResultado('9')" type="button" class="btn btn-secondary btn-lg btn-block">9</button>
      </div> 
      <div class="col-3 col-lg-2">
          <button (click)= "montarResultado('-')" type="button" class="btn btn-secondary btn-lg btn-block">-</button>
      </div>
    </div>

    <div class="row">
        <div class="col-3 col-lg-4 ">
            <button (click)="montarResultado('4')" type="button" class="btn btn-secondary btn-lg btn-block">4</button>
        </div> 
        <div class="col-3 col-lg-4 ">
            <button (click)="montarResultado('5')" type="button" class="btn btn-secondary btn-lg btn-block">5</button>
        </div> 
        <div class="col-3 col-lg-2 ">
            <button (click)="montarResultado('6')" type="button" class="btn btn-secondary btn-lg btn-block">6</button>
        </div> 
        <div class="col-3 col-lg-2 ">
            <button (click)= "montarResultado('+')" type="button" class="btn btn-secondary btn-lg btn-block">+</button>
        </div>
      </div>

      <div class="row">
          <div class="col-3 col-lg-4 ">
              <button (click)="montarResultado('0')" type="button" class="btn btn-secondary btn-lg btn-block">0</button>
          </div> 
          <div class=" col-3 col-lg-4">
              <button (click)="montarResultado('1')" type="button" class="btn btn-secondary btn-lg btn-block">1</button>
          </div> 
          <div class="col-3 col-lg-2 ">
              <button (click)="montarResultado('2')" type="button" class="btn btn-secondary btn-lg btn-block">2</button>
          </div> 
          <div class="col-3 col-lg-2 ">
              <button (click)="montarResultado('3')" type="button" class="btn btn-secondary btn-lg btn-block">3</button>
          </div>
     </div>

     <div class="row">
        <div class="col-lg-12 col-sm-12">
            <button (click)="finalizar()" type="button" class="btn btn-danger btn-lg btn-block">=</button>
        </div> 
      </div>
    
  </div>