<div class="container">

  <div class="row mt-3">
    <div class="col-md-12">
      <form>
          <div class="form-group">
              <input type="text" class="form-control" id="resultado" readonly="readonly">
          </div>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        0
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        1
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        2
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-secondary btn-lg btn-block">
        *
      </button>
    </div>
  </div>



  <div class="row mt-3">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        3
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        4
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        5
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-secondary btn-lg btn-block">
        %
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        6
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        7
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        8
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-secondary btn-lg btn-block">
        -
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        9
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-secondary btn-lg btn-block">
        CE
      </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-danger btn-lg btn-block">
          =
        </button>
      </div>
      <div class="col-md-3">
      <button type="button" class="btn btn-secondary btn-lg btn-block">
        +
      </button>
    </div>
  </div>
</div>